/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root{
    --deepTeal: #17252A;
    --midnightBlue: #203842;
    --darkAqua: #2B7A78;
    --darkCyan: #3AAFA9;
    --paleAqua: #DEF2F1;
}

body{
    margin: 0;
}

* {
    font-family: 'Roboto Mono', monospace;
}

button {
    font-family: 'Quicksand', sans-serif;
    border: none;
    outline: none;
    background-color: var(--deepTeal);
    color: var(--paleAqua);
    border-radius: 5px;
    padding: 10px;
}

button:hover:not(.disabled-button){
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: #203842;
}

.disabled-button {
    background-color: rgba(23, 37, 42, 0.5);
}

.remove-button{
    padding: 5px;
    background-color: darkred;
}