

.centerContainer{
    text-align: center;
    color: var(--darkAqua);
}

#btnContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr)); /* Adjust the size and number of items */
    gap: 10px;
    padding: 10px;
    justify-content: space-around;
    align-content: center;
}

#btnContainer > div > button{
    width: 100%;
    background-color: #2B7A78;
    color: #DEF2F1;
    font-size: 2em;
}

#btnContainer > div > button:hover{
    background-color: #265e5c;
}