<div>
  <ul>
    <li
      title="add Option"
      (mousedown)="preventBlur($event)"
      (click)="onBtnClicked()"
    >
      <img src="assets/optionen.png" />
    </li>
    <li
      title="clear text"
      (mousedown)="preventBlur($event)"
      (click)="clearText()"
    >
      <img src="assets/reinigung.png" />
    </li>
    <li id="line">
      <img src="assets/linie.png" />
    </li>
    <li title="Safe your story">
      <img src="assets/speichern.png" />
    </li>
    <li
      title="Run the game"
      (mousedown)="preventBlur($event)"
      (click)="execute()"
    >
      <img src="assets/wiedergabetaste.png" />
    </li>
  </ul>
</div>
