<div id="container">
  <div class="optionLine" *ngFor="let item of list; let i = index">
    <textarea #textAreaElem (input)="onInputChange(textAreaElem.value, i)">{{
      list[i]
    }}</textarea>
    <button class="remove-button" (click)="removeItem(i)">Remove</button>
  </div>

  <button
    (click)="addItem()"
    [disabled]="isCurOpListSelected()"
    [ngClass]="{ 'disabled-button': isCurOpListSelected() }"
  >
    Add Item
  </button>
  <button
    (click)="saveList()"
    [disabled]="isCurOpListSelected()"
    [ngClass]="{ 'disabled-button': isCurOpListSelected() }"
  >
    Save
  </button>
</div>
